@page "/books"
@page "/"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject BlazorBooksApp.BooksService BooksService

@using BlazorBooksApp

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="books/create">Create New</a>
</p>

<QuickGrid Class="table" Items="Books">
    <PropertyColumn Property="book => book.Title" />
    <PropertyColumn Property="book => book.ISBN" />
    <PropertyColumn Property="book => book.Author" />
    <TemplateColumn Context="book" >
        @if (book.S3Link != null)
        {
            <a href="@book.DownloadLink">@book.S3Link.Key</a>
        }
    </TemplateColumn>

    <TemplateColumn Context="book">
        <a href="@($"books/edit?id={book.Id}")">Edit</a> |
        <a href="@($"books/details?id={book.Id}")">Details</a> |
        <a href="@($"books/delete?id={book.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>


@code {
    public IQueryable<Book>? Books { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Books ??= (await BooksService.GetAllBooks()).AsQueryable();

    }
}